{{#if array}}
{{#array}}
<li class="briefing-tabitem" swoosh-object-id="{{tabcount}}" swoosh-object-status="active">
    <p class="textSize2 textWeightMid">{{sources}}</p>
    <div class="tabitem-action-close">
        <div class="actionicon"><div class="obj"></div></div>
    </div>
</li>
{{/array}}
{{/if}}