<div class="manageTags-list">
    <div class="manageTags-notice" swoosh-current="exist">
        <p class="textSize16 textWeightReg manageTagsIcon"></p>
        <p class="textSize9 textWeightBold briefingActiveTagsStatText">My Newsroom</p>
    </div>
    <div class="manageTags-action-addTag" banana-tap="1">
        <div class="actionicon"><div class="obj"></div></div>
        <p class="textSize6 textWeightMid">ADD A NEW TAG</p>
    </div>
    <div class="manageTags-tagslist">
        <ul class="list-group">
            
        </ul>
    </div>

    <div class="manageTags-none" banana-status="0">
        <p class="textSize9 textWeightMid">Add a new briefing tag!</p>
        <p class="textSize6 textWeightReg2">No tags yet. Let us know what you are interested in!</p>
    </div>
</div>

<div class="comparePresets-list">
    <div class="comparePresets-notice" swoosh-current="exist">
        <p class="textSize16 textWeightReg comparePresetsIcon"></p>
        <p class="textSize9 textWeightBold comparePresetsStatText">My Compare Presets</p>
    </div>
    <div class="comparePresets-action-newpreset" banana-tap="1">
        <div class="actionicon"><div class="obj"></div></div>
        <p class="textSize6 textWeightMid">ADD A NEW SET</p>
    </div>
    <div class="sourcepreset-group">
        <ul class="sourcepresets">
            
        </ul>
    </div>
</div>