<div class="home-today">
    <div class="todaythings-group">
        <div class="todaybriefings-notice" swoosh-current="exist" banana-tap="1">
            <p class="textSize16 textWeightReg todayhomeIcon"></p>
            <p class="textSize9 textWeightBold"><span class="homeSubscriberUsername">Hi,</span> <span class="todaybriefingsStatusText">refreshing briefings</span></p>
            <p class="textSize3 textWeightMid homeDateText"></p>
        </div>

        <div class="todaybriefings-tagslist">
            <ul>

            </ul>
        </div>

        <div class="todaybriefings-none" banana-status="0">
            <p class="textSize4 textWeightReg2">No briefings yet. Let us know what you are interested in by adding another tag or check out other trending stories!</p>
        </div>
    </div>
    <div class="home-subsections">
        <div class="desk-briefings" swoosh-current="folded">
            <div class="deskthings-group">
                <div class="deskbriefings-notice" swoosh-current="exist">
                    <p class="textSize16 textWeightReg deskbriefingsIcon"></p>
                    <p class="textSize9 textWeightBold deskbriefingsStatText">Desk Focus</p>
                    <p class="textSize3 textWeightMid deskbriefingsUpdatedTs">Refreshing...</p>
                </div>

                <div class="deskbriefings-action-toggle" banana-tap="1">
                    <div class="actionicon"><div class="obj"></div></div>
                </div>
            </div>
            <div class="deskbriefings-type-selection">
                <ul class="type-selection">
                    <li swoosh-object-data="usasociety" banana-tap="1">
                            <p class="textSize3 textWeightMid tagContainer">U.S.</p>
                        </li>
                        <li swoosh-object-data="usapolitics" banana-tap="1">
                            <p class="textSize3 textWeightMid tagContainer">Politics</p>
                        </li>
                        <li swoosh-object-data="western-en-world" banana-tap="1">
                            <p class="textSize3 textWeightMid tagContainer">World</p>
                        </li>
                        <li swoosh-object-data="usasports" banana-tap="1">
                            <p class="textSize3 textWeightMid tagContainer">Sports</p>
                        </li>
                        <li swoosh-object-data="usabusiness" banana-tap="1">
                            <p class="textSize3 textWeightMid tagContainer">Business</p>
                        </li>
                        <li swoosh-object-data="usafinance" banana-tap="1">
                            <p class="textSize3 textWeightMid tagContainer">Finance</p>
                        </li>
                        <li swoosh-object-data="usatechindustry" banana-tap="1">
                            <p class="textSize3 textWeightMid tagContainer">Tech</p>
                        </li>
                </ul>
            </div>
            <div class="deskbriefings-group">
                <div class="top">
                    <ul>
                        
                    </ul>
                </div>
                <div class="others">
                    <p class="textSize4 textWeightBold">others</p>
                    <ul>

                    </ul>
                </div>
            </div>
            <div class="deskbriefings-none" banana-status="0">
                <p class="textSize6 textWeightMid">No desk focus</p>
                <p class="textSize4 textWeightReg2">Sadly, there’s no new desk focus at this point. Tap to refresh or check out other trending stories!</p>
            </div>
        </div>

        <div class="trending-stories">
            <div class="trendingstories-notice" swoosh-current="okay">
                <p class="textSize16 textWeightReg trendingstoriesIcon"></p>
                <p class="textSize9 textWeightBold trendingstoriesStatText">Trending</p>
                <p class="textSize3 textWeightMid trendingstoriesUpdatedTs"></p>
            </div>
            <div class="trendingstories-type-selection">
                <ul class="type-selection">
                    <li swoosh-object-data="usasociety" banana-tap="1">
                        <p class="textSize3 textWeightMid tagContainer">U.S.</p>
                    </li>
                    <li swoosh-object-data="usapolitics" banana-tap="1">
                        <p class="textSize3 textWeightMid tagContainer">Politics</p>
                    </li>
                    <li swoosh-object-data="western-en-world" banana-tap="1">
                        <p class="textSize3 textWeightMid tagContainer">World</p>
                    </li>
                    <li swoosh-object-data="usasports" banana-tap="1">
                        <p class="textSize3 textWeightMid tagContainer">Sports</p>
                    </li>
                    <li swoosh-object-data="usabusiness" banana-tap="1">
                        <p class="textSize3 textWeightMid tagContainer">Business</p>
                    </li>
                    <li swoosh-object-data="usafinance" banana-tap="1">
                        <p class="textSize3 textWeightMid tagContainer">Finance</p>
                    </li>
                    <li swoosh-object-data="usatechindustry" banana-tap="1">
                        <p class="textSize3 textWeightMid tagContainer">Tech</p>
                    </li>
                </ul>
            </div>
            <div class="trendingstories-tagslist">
                <ul>

                </ul>
            </div>
            <div class="trendingstories-headstorieslist">
                
            </div>
            <div class="trendingstories-none" banana-status="0">
                <p class="textSize6 textWeightMid">No trending stories</p>
                <p class="textSize4 textWeightReg2">There’s no new trending story in this section at this point. Check out other trending sections or come back later for new trending articles for this section!</p>
            </div>
        </div>
    </div>
</div>

<div class="home-trendingjump-bar" banana-status="0">
    <p class="textSize16 textWeightReg trendingstoriesIcon"></p>
    <p class="textSize3 textWeightBold trendingjumpText">Go to Trending stories</p>
</div>