<div class="readLater-list">
    <div class="readLater-notice" swoosh-current="exist">
        <p class="textSize16 textWeightReg readLaterIcon"></p>
        <p class="textSize9 textWeightBold">Saved stories</p>
    </div>
    <ul class="list-group">
        
    </ul>

    <ul class="readLater-none">
        <p class="textSize10 textWeightMid">No saved stories</p>
        <p class="textSize6 textWeightReg2">This box is empty. Find stories to save for later from Daily Briefings, Desk Focus, or Trending Stories!</p>
    </ul>
</div>