{{#keyword}}
<li>
    <p class="textSize8 textWeightBold pendingTagContainer">{{this}}</p>
    <div class="addTag-action-pendingTagChunkDelete">
        <div class="actionicon"><div class="obj"></div></div>
    </div>
</li>
{{/keyword}}