{{#if array}}
{{#array}}
{{#if hotkeyword}}
<li swoosh-object-type="hotkeyword" banana-tap="1">
{{else}}
<li banana-tap="1">
{{/if}}
    <span class="textSize10 textWeightMid tagContainer">{{keyword}}{{hotkeyword}}</span>
</li>
{{/array}}
{{/if}}